In [11]:
x = 0.2
y = 20

if isinstance (x, int):
    print ("hello")
else:
    print ("bye")

bye

In [12]:
x = "11"
y = 20

if isinstance (x, str):
    print ("hello")
else:
    print ("bye")

hello

In [13]:
x = 11
y = 20

if isinstance (x, str):
    print ("hello")
else:
    print ("bye")

bye

In [14]:
x = 11
y = 20

if x == 10:
    print ("hello")
else:
    print ("bye")

bye

In [16]:
x = ['Sara', 'Ahmed', 'Moana']

print (len(x))

3

In [17]:
x = ['Sara', 'Ahmed', 'Moana', 'Cale', 'ehehehe']

print (len(x))

5

In [21]:
range (5)

range(0, 5)

In [19]:
range (1000)

range(0, 1000)

In [22]:
# this is a range of number from 0 to 999
range (1000)

range(0, 1000)

In [23]:
commander = {"name": "Cale", "age": 20}

print (commander)

{'name': 'Cale', 'age': 20}

In [25]:
commander = {"name": "Cale", "age": 20}

print (commander.values())

dict_values(['Cale', 20])

In [27]:
commander = {"name": "Cale", "age": 20}

print (commander.keys())

dict_keys(['name', 'age'])

In [28]:
commander = {"name": "Cale", "age": 20}

print (commander["age"])

20

In [31]:
commander = {"name": "Cale", "age": 20}
swordmaster = {"name": "Choi Han", "age": "unknown"}

print (swordmaster.values(), commander.values())

dict_values(['Choi Han', 'unknown']) dict_values(['Cale', 20])

In [34]:
def add (a,b):
    z = a + b
    print (z)
    
add (10,20)

30

In [39]:
def minus (a,b):
    z = a - b
    print (z)
    
minus (10,20)

-10

In [40]:
def multiply (a,b):
    z = a * b
    print (z)
    
multiply (10,20)

200

In [42]:
def divide (a,b):
    z = a / b
    print (z)
    
divide (10,20)

0.5

In [46]:
def add (a,b):
    return a + b

def minus (a,b):
    return a - b
    
def multiply (a,b):
    return a * b
    
def divide (a,b):
    return a / b
    
    
print(divide((multiply(5,2)),20))

0.5